.page-template-resume {
	.banner, .wrap{
		float:none;
		width:auto;
		margin: 0px;
	}
	.banner {
		background-image:url('../img/nickreid-picture.jpg');
		background-repeat:no-repeat;
		background-position: 310px 0px;
		.navbar-brand{
			width: @banner-width;
		}
	}
	footer {
		.nickreid-photo {
			display:none;
		}
		.wrap {
		
		}
	}
}

.resume-section-large {
	font-size:@font-size-medium;
}