@media(min-width: @screen-sm){
	.post.post-resume {
		@content-width: @container-tablet - @banner-width;
		.content {
			width: @content-width;
			margin-right: 0px;
			float: right;
		}
		.notes {
			width: @banner-width;
			float: left;
		}
	}
	.section {
		clear: both;
	}
	.section-top {
		float: right;
		clear: none;
		width: @container-tablet - @banner-width - @space-size*2;
	}
}

@media(min-width: @screen-md){
	.post.post-resume {
		@content-width: @container-desktop - @banner-width;
		.content {
			width: @content-width;
		}
	}
	.section-top {
		width: @container-desktop - @banner-width - @space-size*2;
	}
}