.wrapper-top{
	background-color: @gray-light;
	background-image:url('../img/wrapper-bottom.jpg');
	background-repeat:repeat-x;
	background-position:bottom center;
}

// Content wrapper
.wrap { }

// Main content area
.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

.header{
	border-bottom:2px @gray solid;
	padding:0px @space-size;
	margin-bottom:0px;
	h1, h2, h3{
		margin-bottom:0px;
	}
}

.content{
	background-color: #FFF;
	padding:@space-size/2 @space-size;
}

.navbar{
	border:0px !important;
}

.container{
	padding:0px !important;
}

.nickreid-photo{
	background-image:url('../img/nickreid-picture.jpg');
	background-repeat:no-repeat;
	background-position:top left;
	display:block;
	width:600px;
	height:200px;
}

@media(min-width: @screen-sm){
	.banner, .wrap{
		display:block;
		float:left;
	}
	.banner{
		width: @banner-width;
	}
	.wrap{
		width: @container-sm - @banner-width - @space-size;
		margin-left:@space-size;
	}

	.column-small{
		width:250px;
	}

	footer .nickreid-photo{
		width: @banner-width;
		float:left;
		background-position: -90px 0px;
	}
}

