h1 {
	font-size: 2.25em;
}
h2, h3 {
	font-size: 1.75em;
}
h4, h5, h6 {
	font-size: 1.35em;
}

h1, h2, h3, h4, h5{
	margin-top: @space-size/2;
}

h1, h2, h4 {
	font-weight: bold;
}

h3, h5 {
	font-weight: normal;
}


.wrapper-top{
	background-color: @gray-light;
	color: @text-color;
}

.sidebar-primary .main{
	float:none !important;
	width:auto !important;
}

// Content wrapper
.wrap { }

// Main content area
.main {
	margin-top: @space-size;
	float: none !important;
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

.header{
	padding:0px @space-size;
	margin-bottom:0px;
	h1, h2, h3{
		margin-bottom:0px;
	}
}

.content{
	background-color: #FFF;
	padding:@space-size/2 @space-size;
	.full-width{
		display:block;
		width:100%;
		height:auto;
	}
}

.navbar{
	border:0px !important;
}

.container{
	padding:0px !important;
	position: relative;
}



.nickreid-photo{
	background-image:url('../img/nickreid-picture.jpg');
	background-repeat:no-repeat;
	background-position:top left;
	display:block;
	width:600px;
	height:200px;
}

@media(min-width: @screen-xs){
	.container{
		width: @container-xs;
	}

	footer .nickreid-photo{
		width: @container-xs;
		background-position: -105px 0px;
	}
}

@media(min-width: @screen-sm){
	.container{
		width:@container-sm;
		padding-left: @banner-width + @space-size !important;
	}
	.banner{
		width: @banner-width;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index:100;
	}

	.container-full.container,
	.container-full .container {
		padding-left: 0px !important;
	}

	footer{
		.container{
			padding-left: 0px !important;
		}
		.wrap {
			display: block;
			float: right;
			width: @container-sm - @banner-width - @space-size;
		}
		.nickreid-photo{
			width: @banner-width;
			float:left;
			background-position: -90px 0px;
		}
	}
}

@media(min-width: @screen-md){
	@wrap-width: @container-md - @banner-width - @space-size*2;
	.container{
		width: @container-desktop;
	}
	footer .wrap {
		width: @container-desktop - @banner-width - @space-size;
	}
}

