.banner {
	
}

.navbar-brand{
	height:186px;
	display:block;
	width:100%;
	background-color: @brand-primary;
	margin:0px;
	padding:0px;
	text-indent:-3000px;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url('../img/nickreid-logo.png');
	float:none;
	clear:both;
}
