.banner {
	position: relative;
	z-index: 100;
	.widget{
		background-color:#FFF;
		.textwidget{
			padding:@space-size/2 @space-size;
		}
	}
}

.navbar-brand{
	height:186px;
	display:block;
	width:100%;
	background-color: @brand-primary;
	margin:0px;
	padding:0px;
	text-indent:-3000px;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url('../img/nickreid-logo.png');
	float:none;
	clear:both;
}

.navbar-nav{
	margin:0px;
}

.navbar.is_stuck{
	z-index: 100;
}

.stuck-only {
	display:none;
}
.is_stuck .stuck-only {
	display: block;
}

.navbar a{
	color: @text-color;
}

.navbar .nav-page {
	background-color: @brand-primary;
	color: @white;
	li a{
		color: @white;
		&:hover {
			background-color: lighten(@brand-primary, 20%);
			color: @white;
		}
	}
}

.is_stuck .stuck-sm {
	display: none;
}
@media(min-width: @screen-sm){
	.admin-bar header .is_stuck{
		margin-top: 32px;
	}
	.is_stuck .stuck-sm{
		display: block;
	}
	.nav-page {
		position: absolute;
		top: 0px;
		left: -50px;
		z-index: 10;
		font-size: @font-size-largest;
		padding-top: @space-size * 2;
		.icon-top a i{
			height: 3px;
		}
	}
}