.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.post {
	clear: both;
	margin: @space-size 0px;
	position: relative;
	z-index: 10;
	.title {
		margin-top: 0px;
	}
	.date {
		font-style: italic;
		font-size: @font-size-small;
	}
	.body {
		background-color: @gray;
	}
	.notes, .content {
		padding: @space-size*2 @space-size;
	}
}

@media(min-width: @screen-sm){
	.post {
		.body {
			position:relative;
			background-color: @gray;
			padding: 0px;
			&::after {
				content:"";
				display: block;
				clear:both;
			}
		}
		.content {
			margin-right: @space-size*2;
		}
	}
}

@media(min-width: @screen-md){
	.post {

	}
}