.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.post {
	clear: both;
	margin: @space-size 0px;
	position: relative;
	z-index: 10;
	.title {
		margin-top: 0px;
	}
	.date {
		font-style: italic;
		font-size: @font-size-small;
	}
	.body {
		background-color: @gray;
	}
	.notes, .content {
		padding: @space-size*2 @space-size;
	}
}

@media(min-width: @screen-sm){
	.post {
		@content-width: @container-tablet - @banner-width/2;
		.body {
			position:relative;
			background-color: @gray;
			padding: 0px;
			&::after {
				content:"";
				display: block;
				clear:both;
			}
		}
		.content {
			float: right;
			width: @content-width;
		}
		.notes {
			float: left;
			width: @banner-width/2;
		}
	}
}

@media(min-width: @screen-md){
	.post {
		@content-width: @container-desktop - @banner-width/2;
		.body {
			&::before {
				width: @content-width;
			}
		}
		.content {
			width: @content-width;
		}
	}

}