@import '../_sprites';

.navbar .icon{
	background-image:none;
	overflow:hidden;
	a i{
		.icon();
		float:left;
		margin-right:@space-size/2;
	}
}

@media(min-width: @screen-sm){
	.navbar .icon a{
		height:@navbar-height;
		i{
			margin-right:0px;
		}
		span{
			overflow:hidden;
			display:block;
			position:absolute;
			top: -10px;
			left:0px;
			height:10px;
		}
	}
}

.navbar .icon-github a i{
	.sprite(@github);
}

.navbar .icon-twitter a i{
	.sprite(@twitter);
}

.navbar .icon-linkedIn a i{
	.sprite(@linkedIn);
}

.navbar .icon-home a i{
	.glyphicon();
	.glyphicon-home();
	background:transparent;
}