.parallax-foreground {
	// normal screen movement
}

.parallax-midground {
	// backwards movement
	position:relative;
	z-index: 20;
}

.parallax-background {
	// slow background movement
	position:relative;
	z-index: 10;
}